In [41]:
# !pip install -U gpx-converter

Requirement already satisfied: gpx-converter in c:\users\patry\anaconda3\envs\aula\lib\site-packages (1.7.4)
Requirement already satisfied: numpy>=1.18.1 in c:\users\patry\anaconda3\envs\aula\lib\site-packages (from gpx-converter) (1.20.2)
Requirement already satisfied: pandas>=1.0.3 in c:\users\patry\anaconda3\envs\aula\lib\site-packages (from gpx-converter) (1.3.0)
Requirement already satisfied: gpxpy>=1.4.0 in c:\users\patry\anaconda3\envs\aula\lib\site-packages (from gpx-converter) (1.4.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\patry\anaconda3\envs\aula\lib\site-packages (from pandas>=1.0.3->gpx-converter) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\patry\anaconda3\envs\aula\lib\site-packages (from pandas>=1.0.3->gpx-converter) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\patry\anaconda3\envs\aula\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->gpx-converter) (1.16.0)

In [2]:
import os
import pandas as pd
from gpx_converter import Converter

### Each activity has its coordinates saved in GPS files. So I needed to iterate, convert these files to dataframe, and then concatenate them

Iterating

In [5]:
files = [file for file in next(os.walk('.'))[2] if '.gpx' in file]

So I convert

In [6]:
df = Converter(input_file=files[0]).gpx_to_dataframe()

And I use the name of the file to create a ID column

In [7]:
df['id'] = files[0][:-4]

Finnaly I did that with all the activity files

In [8]:
for file in files[1:]:
#     print(file)
    converted = Converter(input_file=file).gpx_to_dataframe()
    converted['id'] = file[:-4]
    
    df = pd.concat([df, converted])

In [9]:
df.shape

(730708, 5)

In [10]:
len(df.id.unique())

179

In [61]:
df.to_csv('trajetos_patryck.csv', index=False)

In [11]:
df

                          time  latitude  longitude  altitude          id
0    2018-05-08 16:49:03+00:00 -3.839206 -38.574963      50.8  1558203650
1    2018-05-08 16:49:04+00:00 -3.839188 -38.574928      50.6  1558203650
2    2018-05-08 16:49:05+00:00 -3.839272 -38.574899      50.3  1558203650
3    2018-05-08 16:49:06+00:00 -3.839317 -38.574854      50.2  1558203650
4    2018-05-08 16:49:07+00:00 -3.839309 -38.574940      50.0  1558203650
...                        ...       ...        ...       ...         ...
4532 2020-01-27 03:12:11+00:00 -3.838124 -38.576301      43.5  3047059494
4533 2020-01-27 03:12:27+00:00 -3.838148 -38.576315      43.3  3047059494
4534 2020-01-27 03:12:58+00:00 -3.838085 -38.576294      42.9  3047059494
4535 2020-01-27 03:13:02+00:00 -3.838054 -38.576318      42.7  3047059494
4536 2020-01-27 03:13:25+00:00 -3.838038 -38.576294      42.5  3047059494

[730708 rows x 5 columns]